# ==========================================
# Python 환경 / 캐시
# ==========================================
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# ==========================================
# CMake / ROS2 빌드 산출물
# ==========================================
build/
install/
log/

# ==========================================
# C/C++ 컴파일 산출물
# ==========================================
*.o
*.obj
*.a
*.so

# cpp_basic에서 생성되는 실행파일
lv1_module2_sangjun/cpp_basic/stop_distance

# ==========================================
# CMake 생성 파일
# ==========================================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# ==========================================
# ROS2 / colcon 관련
# ==========================================
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# IDE / Editor
# ==========================================
.vscode/
.idea/